################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/TextAdventure/bin
/TextAdventure/obj/Debug
